# IDEs
# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.c9/
.settings/
*.launch
*.log

# OS generated
.DS_Store
Thumbs.db

# Build output
build/
loadtest/build/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# Java
*.class

# Reports
*.html
*.xml
*.json

# Misc
*.swp
*.swo
